<div class="span6">
  <p style="text-align: center;">
    <%= image_tag("/assets/UCT.jpg", width: '120') %>
    <%= image_tag("/assets/SANParks.png", width: '120') %>
  </p>
</div>

<div class="span6">

  <h3>Thank you!</h3>

  <div style="height: 12px;"></div>

  <p>
    Thank you for taking the time to participate in this study. Your views and perceptions have been an
    valuable contribution to this research project and will aid in understanding how people value, use,
    impact and govern water-related ecosystem services which originate in Table Mountain National Park.
  </p>

  <p>
    This research is being undertaken by researchers based at the University of Cape
    Town in collaboration with SANParks. To contact the researchers please email
    <%= link_to 'tablemountainstudy@gmail.com', 'mailto:tablemountainstudy@gmail.com' %>
  </p>

  <div style="height: 12px;"></div>

  <p>
    <%= image_tag("/assets/TABLE BAY PANO.jpg", width: '600') %>
  </p>

</div>