<h3 style="line-height: 25px;"><%= ecosystem_service_categories[3][0] %></h3>
<p style="color: #aaa;">Step 4 of 6</p>

<%= render partial: 'form', locals: {title: 'COGNITIVE DEVELOPMENT / LEARNING / SCIENTIFIC DISCOVERY', descr: 'These water bodies must inspire you to understand more about the natural environment, conservation and/or species that live in and around a particular water body.'} %>