<h3 style="line-height: 25px;"><%= ecosystem_service_categories[3][0] %></h3>
<p style="color: #aaa;">Step 4 of 6</p>

<%= render partial: 'form', locals: {title: ecosystem_service_categories[3][0]} %>