<h3><%= ecosystem_service_categories[4][0] %></h3>
<p style="color: #aaa;">Step 5 of 6</p>

<%= render partial: 'form', locals: {title: 'SPIRITUAL/REGLIGIOUS', descr: 'The water bodies ranked in this section should have a positive emotional and spiritual influence on you resulting in a feeling of awe and wonder.'} %>