<h3><%= ecosystem_service_categories[5][0] %></h3>
<p style="color: #aaa;">Step 6 of 6</p>

<%= render partial: 'form', locals: {title: 'NEGATIVE', descr: 'These areas may influence the values for other categories, may be unsightly or unsafe, or may just be negative spaces.'} %>