<div class="span6">
  <p style="text-align: center;">
    <%= image_tag("/assets/UCT.jpg", width: '120') %>
    <%= image_tag("/assets/SANParks.png", width: '120') %>
  </p>
</div>

<div class="span6">

  <h3>Water bodies in TMNP survey</h3>

  <div style="height: 12px;"></div>

  <p>
    This mapping survey is the last part of the survey on ecosystem services in Table Mountain National Park. This exercise consists of a set of questions about how users value certain water bodies according to a particular life-fulfilling ecosystem service. Categories include:
  </p>

  <ol>
    <li>Recreation</li>
    <li>Aesthetics/existence</li>
    <li>Cultural/historical</li>
    <li>Cognitive development/learning/scientific discovery</li>
    <li>Spiritual/religious</li>
    <li>Negative</li>
  </ol>

  <p>All water bodies are numbered for easy reference.</p>

  <p>
    Please enter your name and email address so that we can ensure that your responses are connected to the survey you have just completed.
  </p>
  <p>
    To contact the researchers please email <%= link_to 'tablemountainstudy@gmail.com', 'mailto:tablemountainstudy@gmail.com' %>.
  </p>

  <%= render 'form' %>

</div>